.dropdown {
  background-color: #fbfbfb;
  border-radius: 10px;
  .dropdown-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 45px;
    border-radius: inherit;
    background-color: #ff6060;
    justify-content: space-between;
    @media (max-width: 768px) {
      height: 40px;
    }
    p {
      color: #ffffff;
      font-weight: 600;
      font-size: 17px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }

    .dropdown-arrow {
      width: 24px;
      height: 14px;
    }
  }

  .dropdown-content {
    background-color: #fbfbfb;
    border-radius: inherit;
    max-height: 500px;
    transform: scaleY(1);
    transform-origin: top;
    transition:
      max-height 0.7s ease,
      transform 0.7s ease;

    ul,
    p {
      margin: 0;
      padding: 15px 15px;
      text-align: left;
    }
    ul {
      list-style-type: none;
    }

    li {
      padding: 2px 0;
    }

    p,
    li {
      @media (max-width: 768px) {
        font-size: 13px;
      }
    }
  }

  .hidden {
    max-height: 0;
    transform: scaleY(0);
    overflow: hidden;
    transition:
      max-height 0.4s ease,
      transform 0.4s ease;
  }
}
