.collapse {
  .collapse-title {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0 15px;
    height: 45px;
    border-radius: 10px;
    background-color: #ff6060;
    justify-content: space-between;
    @media (max-width: 768px) {
      height: 40px;
    }
    p {
      color: #ffffff;
      font-weight: 600;
      font-size: 17px;
      @media (max-width: 768px) {
        font-size: 15px;
      }
    }

    .collapse-arrow {
      width: 24px;
      height: 14px;
      transition: transform 0.3s ease;
      &.active {
        transform: rotate(-180deg);
      }
    }
  }

  .collapse-content {
    background-color: #fbfbfb;
    border-radius: 0 0 10px 10px;
    position: relative;
    bottom: 8px;
    z-index: -1;
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    transition:
      max-height 0.6s ease,
      transform 0.6s ease;

    ul,
    p {
      margin: 0;
      padding: 20px 15px;
      text-align: left;
    }
    ul {
      list-style-type: none;
    }

    li {
      padding: 2px 0;
    }

    p,
    li {
      @media (max-width: 768px) {
        font-size: 13px;
      }
    }
    &.active {
      max-height: 500px;
      transform: scaleY(1);
      overflow: hidden;
    }
  }
}
