footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
  width: 100%;
  height: 190px;
  background-color: #000000;
  padding-bottom: 10px;
  @media (max-width: 768px) {
    gap: 5px;
    justify-content: center;
    padding-bottom: 0;
  }
  .footer-logo {
    width: 122px;
    height: 40px;
    @media (max-width: 768px) {
      width: 120px;
    }
  }

  p {
    font-weight: 500;
    font-size: 20px;
    color: #ffffff;
    @media (max-width: 768px) {
      font-size: 12px;
      width: 30%;
    }
  }
}
