.cards-wrapper {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  background-color: #f6f6f6;
  padding: 60px 0;
  border-radius: 25px;
  @media (max-width: 768px) {
    background-color: #ffffff;
    padding: 25px 0;
    gap: 20px;
  }
}
